   

 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    font-size: 2.8vmin;
    --color-top: #AA4019;
    --color-shadow: #7B2E12;
    --color-front: #D24F1F;
    --font-color-front: #F9D9C0;
    --font-color-shadow: #645f3200;
  }
  body {
    background: rgb(111,62,7);
    background: linear-gradient(45deg, #7B2E12 0%, #AA4019 50%, #D24F1F 100%);
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
  }
  :focus {
      outline: none;
  }
/*
**************
* CUBE STUFF *
**************
*/
 .cube-face.front .title {
    font-size: 2rem;
    position: absolute;
    top: -2.2rem;
    color: var(--color-shadow);
    padding-bottom:2em;
    font-weight: 700;
    pointer-events: none;
    -ms-user-select: none; 
    user-select: none;
  }
         
     
  .perspective {
      float: left;
      border: none;
      perspective-origin: 50% 50%;
      perspective: none;
      width: max(35%, 32rem);
      height: 100%;
      overflow: hidden;
    }
    
    .cube .toc button {
        margin: 1rem;
    }
    .cube {
      --cube-negative-half-width: -10rem;
      --cube-half-width: 10rem;
      --cube-width: 20rem;
      width: 20rem;
      height: 20rem;
      position: relative;
      transform-style: preserve-3d;
      transform: translateZ(var(--cube-negative-half-width));
      transform: translateZ(var(--cube-negative-half-width)) rotateX(-35) rotateY(25) rotateZ(0);
      transition: transform 1s ease-out;
      left: 5rem;
      top: 7rem;
      
    }
    .cube-face {
      position: absolute;
      width: var(--cube-width);
      height: var(--cube-width);
      text-align: left;
      transition: background-color 1s ease-out;
      margin-top: 1em;
      margin-left: .5em;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      animation-timing-function: ease-out;
      margin-top: 1em;
      margin-left: .5em;
      
    }
    .cube .toc{
        list-style:none;
        padding-top: 1rem;
          
    }

    .cube .years {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex-wrap: wrap;
        align-content: flex-start;
        height: 60%;
        max-width: 100%;
        

    }

    .cube h2{
           font-size: 1.75rem;
          font-weight: 700;
          margin: 1rem;
    }
    .cube p{
            font-size: .85rem;
          font-weight: 400;
          margin: 1rem;
    }
    .cube .inactive {
        pointer-events: none;
        background-color: var(--color-shadow);
        color: var(--font-color-shadow);
       
    }
    .cube .active {
        background-color: var(--color-front);
        color: var(--font-color-front);
        
      	
    }
    .cube-face button{
      background-color: transparent;
      border: none;
      padding: 0.5rem;
      font-size: 1.75rem;
      font-weight: 200;
      font-family: inherit;
      color: inherit;
      padding-left: 2rem;
      padding-top: 0.5rem;
      text-align: left;
       transition: transform 0.1s, text-shadow 0.3s;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
      -khtml-user-select: none; /* Konqueror HTML */
      -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
      user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
      
    }

    .cube-face button:hover{
     
     transform: perspective(50rem) translateZ(5rem);
     text-shadow: -0.6rem -0.6rem 1px var(--color-shadow);
    }
        
    .cube-face button:active {
        transform: perspective(50rem) translateZ(2rem);
        text-shadow: -0.2rem -0.2rem 0px var(--color-shadow);
    }
        
          @keyframes dark-dark-light {
              0% {
                  background-color: var(--color-shadow);
                  color: var(--font-color-shadow);
              }
              50% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
              }
            100% {
                  background-color: var(--color-front);
                  color: var(--font-color-front);
            }
          }
          @keyframes light-dark-dark {
            0% {
                background-color: var(--color-front);
                color: var(--font-color-front);
          }
            50% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
            }
            100% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
            }
        }
        @keyframes dark-light-dark {
            0% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
          }
          50% {
            background-color: var(--color-front);
            color: var(--font-color-front);
          }
            100% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
            }
        }
        @keyframes dark-light {
            0% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
            }
            100% {
                background-color: var(--color-front);
            color: var(--font-color-front);
            }
        }
        @keyframes light-dark {
            0% {
                background-color: var(--color-front);
            color: var(--font-color-front);
            }
            100% {
                background-color: var(--color-shadow);
                color: var(--font-color-shadow);
            }
        }

   .cube div.top    {
   	 background-color: var(--color-top);}
   .cube div.bottom { background-color: rgba(255, 255, 0, 1); }
    
   .cube div.front  { transform: rotateY(  0deg) translateZ(var(--cube-half-width)); }
   .cube div.right  { transform: rotateY( 90deg) translateZ(var(--cube-half-width)); }
   .cube div.back   { transform: rotateY(180deg) translateZ(var(--cube-half-width)); }
   .cube div.left   { transform: rotateY(-90deg) translateZ(var(--cube-half-width)); }
   .cube div.top    { transform: rotateX( 90deg) translateZ(var(--cube-half-width)); }
   .cube div.bottom { transform: rotateX(-90deg) translateZ(var(--cube-half-width)); }

   /*
*************
* MORE INFO *
*************
*/
.info-wrapper {
    float: right;
    width: calc(100% - max(40%, 32rem));
    height: 100%;
    
}

.extra-info {
    
    width: 100%;
    /*position: absolute;*/
    animation-duration: 0.5s;
    

}

.right-content {
    position: relative;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.extra-info .card-holder{
    width: 100%;
    height: 80%;
    margin-top: 10%;
    
}
.extra-info .thumbnail-holder{
    width: 100%;
    height: 80%;
    margin-top: 10%;
    
}

@media only screen and (max-aspect-ratio: 12/7) {
    
    .info-wrapper {
        position: absolute;
        margin: 0 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        
    }
    .right-content{
        pointer-events: inherit;
    }
    .extra-info{
        width: 100%;
        pointer-events: none;
        background-color:rgba(100,100,100,0.3);
     
    }
    .extra-info.active{
        pointer-events: initial;
    }
    .extra-info .card-holder {
        width: 80%;
        height: 80%;
        margin: 0 10% 10% 10%;
    }
    

}
@media only screen and (hover: none), (pointer: course){
    .extra-info{
        background-color: red;
    }
}
.extra-info .x-button {
    border: none;
    background-color: transparent;
    color: #F9D9C0;
    font-size: 3rem;
    width: 3rem;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}

.button-bar{
    margin-top: auto;
}
.extra-info .x-button{
    transform: scale(1);
    transition: transform .3s ease-out;
}

.extra-info .x-button:hover {
    transform: scale(1.2);
    
    
}
.extra-info .x-button:active{
    transform: scale(0.8);
    transition: transform 0.15s ease-out;
}

.extra-info:not(.active){
    display: none;
}
.extra-info.active{
    animation-name: slide-up;
    display: flex;
}
::-webkit-scrollbar{
    background-color: transparent;
}
::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,.2);
    border-radius: 100px;
    box-shadow: 0 0 1rem rgba(0,0,0,1) inset;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.8);
    border-radius: 100px;
    box-shadow: 0 0 1rem rgba(150,150,150,1) inset;
    
}

@keyframes slide-up {
    0%{
        transform: translateY(200vh);
    }
    100%{
        transform: translateY(0vh);
    }
}
@keyframes slide-away {
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(-200vh);
        display: none;
    }
}
.card {
    width: 80%;
    margin: 0 10%;
    position: relative;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail {
    width: 40%;
    margin: 0 5%;
    position: relative;
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thumbnail-holder{
    width: 40%;
}
.artwork {
    
    width: 80%;
}
.card:not(.active) {
    display: block;
}
.card.active {
    display: block;
}

.wrapper{
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}


.carousel-bg{
    position: relative;
    display: flex;
    height: 70%;
    flex-direction: column;
    justify-content: center;
    

}

.moving-parts{
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--font-color-front);
    overflow: hidden;
}
.titles{
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 0.5rem;
    
    

}
a {
  text-decoration: inherit;
  color: inherit;
}
.titles .title{
    font-size: 0.75rem;
    font-weight: 200;
    text-align: right;
    white-space: nowrap;
    position: relative;
    width: calc(1000%);
    transform: translateX(-90%);
    z-index: 1000;


}
.title.bold{
    font-weight: 400;
}

.carousel{
    /* height: 100%; */
    width: 80%;
    position: relative; /*importatnt*/
    transition: transform 0.3s, bottom 0s;
    
}
.slide {
    display: flex;
    /*
    align-items: stretch;
    justify-content: space-around;
    */
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    margin-bottom: 30px;
}
/*
.content{
    display: flex;
    height: 100%;
    align-items: stretch;
    justify-content: space-around;

}
*/
.img-container {
    height: 100%;
    aspect-ratio: 1;
    position: relative;
}

.img-container .img {

    border: 4px solid var(--font-color-front);
    background-color: var(--font-color-front);
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: absolute;
}


.img-container .description{ 
   
    max-width: 100%;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 200;
    position: absolute;
    z-index: 10000;
    transition: all ease-out 0.3s;
    color: #f9d9c000;
    padding: 10%;
    width: calc(100% - 8px);
    height: calc(100% - 8px);
    margin-top: 4px;
    margin-left: 4px;

}

.img-container:hover .description{
    /*background-color: rgba(0,0,0,.4);*/
    color: #f9d9c0;

}
.img img{
    transition: filter 0.3s;
}
.img-container:hover img {
    filter: blur(5px) saturate(25%) brightness(50%);
}


.img img{
    max-width: 100%;
    max-height: 100%;
    object-fit:fill;
    /*border: 4px solid var(--font-color-front);*/
    background-color: var(--font-color-front);
    -ms-user-select: none; 
    user-select: none;
}
/*ADD "transparent" class to non rectangular images" */
.img img.transparent{
    background-color: transparent;
}   

.slide p{    
    margin-top: 1.75rem;
    font-size: .75rem;     
    hyphens: auto; 
}

.button{
    z-index: 10000;
    
    position: relative;
    /*
    border-radius: 50%;
    */
    width: 30px;
    height: 30px;
    /*padding-top: 5%; /*use this for responsive button size*/
    background-color: transparent;
    margin-left: 42.5%;
    text-align: center;
    -ms-user-select: none; 
    user-select: none;
    
    
    transition: transform .3s ease-out;
}

.button:hover {
    transform: scale(1.2);
    
}

.button.next{
    transform: rotateZ(180deg);
    order: 4;
    position: relative;
    transition: transform .3s ease-out;
}

.button.next:hover {
    transform: rotateZ(180deg) scale(1.2);
}

.about-info{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}
.about-info .x-button {
    margin-bottom: 10%;
}