      <style>
          h1 {
    text-align: left;
}
h1 {
    text-align: center;
}
* {
    box-sizing: border-box;
}

.perspective {
    width: 200px;
    height: 200px;
    border: 1px solid #CCC;
    margin: 80px;
    perspective: 400px;
  }
  
  .cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 0s ease-out;
  }
  
  .cube-face {
    position: absolute;
    width: 200px;
    height: 400px;
    border: 2px solid black;
    line-height: 200px;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
          .cube-face.top{
          	height: 200px;
          }
          .cube-face.bottom{
          	height: 200px;
          }
  
  .front  { background: rgba(  0, 0, 255, 0.7); }
  .right  { background: rgba(0, 255, 0, 0.7); }
  .back   { background: rgba(255, 0, 0, 0.7); }
  .left   { background: rgba(0, 255, 255, 0.7); }
  .top    { background: rgba(255, 0, 255, 0.7); }
  .bottom { background: rgba(255, 255, 0, 0.7); }
  
  .front  { transform: rotateY(  0deg) translateZ(100px); }
  .right  { transform: rotateY( 90deg) translateZ(100px); }
  .back   { transform: rotateY(180deg) translateZ(100px); }
  .left   { transform: rotateY(-90deg) translateZ(100px); }
  .top    { transform: rotateX( 90deg) translateZ(100px); }
  .bottom { transform: rotateX(-90deg) translateZ(300px)}
  
        </style>
